*{
    margin:0;
    padding: 0;
    overflow: hidden;
}
.container{
    width:90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    flex-direction: column;
    gap:2rem;
}
.container .rows{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    gap:2rem;
    flex-wrap: wrap;

}
.container .rows select{
    background-color: brown;
    border: none;
    color: white;
    width:15rem;
    height: 2rem;
    border-radius:20px ;
    padding-left: .5rem;
}
.container .row select option{
    background-color:chocolate;
}
#block{
    width:90vh;
    min-width: 75rem;
    margin-left: 5rem;
    margin-top:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height:120rem; */
}
#block div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid orange;
    border-radius: 20px;
    height: 20rem;
}
#block div h2{
    color: orangered;
}
#block div img{
    object-fit: contain;
    width:90%;
}
#block div input{
    background-color: orange;
    border: none;
    border-radius: 20px;
    padding: .5rem;
    color:white;
}
#block div input:hover{
    background-color: red;
}
.popup{
    display: flex;
    width:100vw;
    height: 100vh;
    display: none;
    position: absolute;
    top:0;
    right: 0;

}
.popup .popupcontent{
    display: flex;
    background-color: rgba(0,0,0,0.6);
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.popup .popupcontent .pops{
    border:1px solid black;
    background-color: whitesmoke;
    width:40rem;
    height: 40rem;
    border-radius: 20px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
}
.popup .popupcontent .pops h1{
    text-align: center;
    margin-bottom:1rem;
}
/* .popup .popupcontent .pops #pops1{
    margin-top:1rem;

 } */
.popup .popupcontent  input{
    border:none;
    margin-top:.5rem;
    border-radius: 10px;
    padding:.6rem;
    background-color: green;
    color: white;
}
#clickbtn{
    position: absolute;
    top:6px;
    right: 6px;
    border:none;
    background-color: red;
    width:5rem;
    height: 2rem;
    padding: .5rem;
    border-radius: 10px;
}
.popup .popupcontent .pops ol li{
    width:25rem;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

@media screen and (max-width:480px) {
    body{
        overflow: hidden;
    }
    .container{
        min-width:16rem;
        width: auto;
        background-color: green;
        /* margin: 0; */
    }
    .container .rows{
        flex-direction: column;
        
    }
    /* .container .rows select {
        width:12rem;
        height: 2rem;
        
    } */
    .container .row select{
        min-width: 12rem;
        width: auto;
        padding-left: 0;
    }
    .container .row select:focus{
        min-width: 8rem;
        width: auto;
        overflow: hidden;
        /* flex-wrap: wrap; */

    }
    #block{
        min-width:20rem;
        width: auto;
        height: 30rem;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: hidden;
        margin-left:2rem;
    }
    #clickbtn{
        top:12px;
        right: 46px;
    }
    .popup{
        min-width:100%;
        width: auto;
    }
    .popup .popupcontent .pops{
        min-width:15rem;
        width: auto;
        min-height: 20rem;
        height: auto;
    }
    .popup .popupcontent .pops ol li{
        min-width:10rem;
        width: auto;
        justify-content: space-evenly;
        padding-right: 2rem;
        font-size: 12px;
    }


}
